<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="home-section">
            <div class="nav-main">
                <div class="logo-container">
                    <img src="assets/images/test.jpg" alt="logo-card">
                    <ul class="menu-container">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><span></span></li>
                    </div>
                </div>
                <div class="hero-main"></div>
            </div>
        </div>
        <div class="products-section"></div>
        <div class="contacts-section"></div>
        <div class="footer-section"></div>
    </div>
</body>
</html>